@media only screen and (min-device-width : 0px) and (max-device-width : 900px) { 
    .carousel {
        height: 30vh;
        width: 90vw;
        margin: 0 auto;
    }    
}
@media only screen and (min-device-width : 900px) and (max-device-width : 4096px) {
    .carousel {
        height: 50vh;
        width: 60vw;
        margin: 0 auto;
    }
}
.test-home-jumbotron {
    background-color: #ddd;
    height: 30vh;
    width: auto;
    margin: 0 auto;
}
.carousel-body {
    background-color: #f9f9f9;
    padding: 3vh 0 4vh 0;
}
.home-body {
    background-color: #f9f9f9;
    height: auto;
    width: 80vw;
    margin-bottom: 5vh;
}
.home-body-title {
    font-size: 30px;
}
.home-body-card {
    margin: 0 auto;
    margin: 10px 0 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}