
@media only screen and (min-device-width : 0px) and (max-device-width : 900px) { 
  .package-list-card {min-width: auto; max-width: 250px}
}
@media only screen and (min-device-width : 900px) and (max-device-width : 4096px) {
  @media only screen and (min-width : 0px) and (max-width : 600px) {
    .package-list-card {max-width: 50vw; min-width: 240px}
  }
  @media only screen and (min-width : 600px) and (max-width : 1024px) {
    .package-list-card {max-width: 32vw; min-width: 240px}
  }
  @media only screen and (min-width : 1024px) and (max-width : 4096px) {
    .package-list-card {max-width: 18vw; min-width: 220px}
  }
}
.package-list-card {
  height: 50vh;
  margin: 5px 5px 5px 5px;
}
.package-list-card:hover {
  border-width: 1px;
  border-color: #fcb034;
}
.package-list-image {
  height: 20vh;
  
}
.image-layout {
  height: 20vh;
}
.package-list-agency-image {
  width: auto;
  height: 6vh;
  padding-left: 0;
  padding-right: 0;
  z-index: 9;;
  
}
.package-item-star {
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 10;
  position: absolute;
  padding: 5px;
  top:0%;
  right:0%;
}
.test-layout-title {

  font-size: 13px;

  height: 11vh;
  overflow: auto;
  width: auto;
  padding: 5px;

  border-bottom: 1px;
  border-bottom-color: red;

  
}
.test-layout-detail {

  font-size: 12px;

  min-height: auto;
  max-height: 19vh;
  
  width: auto;

}
.btn-detail {
  font-size: 14px;

  background-color: #ddd;
  padding: 2px;

  cursor: pointer;
  width: auto;

  position: absolute;
  left: 5px;
  right: 5px;
  bottom: 5px;
}
.btn-detail:hover {
  background-color: orange;
  color: white;
}

.set-left {
  position: relative;
  z-index: 9;
  margin-bottom: 1vh;
  
}
.set-right {
  position: absolute;
  z-index: 10;
  text-align: right;
}

