.bg-color-custom {
    background-color: #f9f9f9;
}

.layout-main {
    padding-top: 6vh;
    padding-bottom: 6vh;
    margin: 0;
}
.search-bar-style {
    box-shadow: 1px 1px 10px grey;
    width: 22vw;
    position: fixed;
    top:15vh;
    left: 2.5vw;
}
.search-bar-header-layout {
    text-align: center;
    vertical-align: center;
    margin: 0;
}
.search-input-main {
    height: 40vh;
    border-width: 0.1vw;
    border-style: solid;
    border-radius: 0.3vw;
    border-color: #e0e0e0;
    overflow: auto;
}
.search-input-margin {
    margin-bottom: 1vh;
}
.search-input-title {
    color: #fcb034;
    margin-left: 0.5vw;
    font-size: 1.5vh;
}
.tagbox-layout {
    margin-top: 1vh;
    height: 15vh;
    overflow: auto;
}
.tagbox-body-layout {
    padding: 0.75vw;
    margin-bottom: 1vh;
    overflow: auto;
}
.tagbtn-layout {
    font-size: 1.5vh;
    margin: 1px;
    border-color: white;
    border-width: 0;
    border-radius: 1vw;
}
