

.bg-color-custom {
    background-color: #f9f9f9;
}
.layout-main {
    margin: 0;
    background-color: #f9f9f9;
}
.layout-main-old {
    padding-top: 1vh;
    padding-bottom: 3vh;
    margin: 0;
    background-color: #f9f9f9;
}
.search-bar-style {
    box-shadow: 1px 1px 5px grey;
    min-width: 23vw;
    height: 88vh;
}
.search-bar-header-layout {
    text-align: center;
    vertical-align: center;
    margin: 0;
}
.search-input-main {
    height: 40vh;
    border-width: 0.1vw;
    border-style: solid;
    border-radius: 0.3vw;
    border-color: #e0e0e0;
    overflow: auto;
}
.search-input-margin {
    margin-bottom: 1vh;
}
.search-input-title {
    color: #fcb034;
    margin-left: 0.5vw;
    font-size: 1.5vh;
}
.select-input-style {
    width: 22vw;
    border-width: 0.1vw;
    border-style: solid;
    border-radius: 0.3vw;
    border-color: #e0e0e0;
    background-color: white;
}

.tagbox-layout {
    margin-top: 1vh;
    height: 15vh;
    overflow: auto;
}
.tagbox-body-layout {
    padding: 0.75vw;
    margin-bottom: 1vh;
    overflow: auto;
}
.tagbtn-layout {
    font-size: 1.5vh;
    margin: 1px;
    border-color: white;
    border-width: 0;
    border-radius: 1vw;
}

.btn-sidebar {
    z-index: 100;
    height: 10vh;
    position: fixed;
    left: 0%;
    top: 50%;

    text-align: center;
    justify-content: center;

    align-content: center;
    align-items: center;
}
.btn-sidebar:hover {
    box-shadow: 1px 1px 10px grey;   
}
.icon-center {
    line-height: 8vh;
}





@media only screen and (min-device-width : 0px) and (max-device-width : 900px) {
    .card .overlay {
        opacity: 1;
    }
    .card:hover .overlay {
        opacity: 0;
    }
    #qregion {
        font-size: 4vw;
    }
    #qtag {
        font-size: 2.5vw;
    }
    .QRegion-img {
        height: 25vh;
        width: 75vw;
    }
    .QTag-img {
        height: 12vh;
    }
    .Qprovince-text {font-size: 2vw;}    
}
@media only screen and (min-device-width : 900px) and (max-device-width : 4096px) {
    @media only screen and (min-width : 0px) and (max-width : 900px) {  
        .card .overlay {
            opacity: 1;
        }
        .card:hover .overlay {
            opacity: 0;
        }
        #qregion {
            font-size: 4vw;
        }
        #qtag {
            font-size: 2.5vw;
        }
        .QRegion-img {
            height: 25vh;
            width: 75vw;
        }
        .QTag-img {
            height: 12vh;
        }
        .Qprovince-text {font-size: 2vw;}       
    }
    @media only screen and (min-width : 900px) and (max-width : 4096px) {  

        .card:hover .overlay {
            opacity: 1;
        }
        #qregion {
            font-size: 2vw;
            line-height: 32vh;
            width: 60%;
            position: absolute;
            left: 20%;
        }
        #qtag {
            font-size: 2.5vw;
            line-height: 14vh;
            width: 90%;
            position: absolute;
            left: 5%;
        }
        .QRegion-img {
            height: 30vh;
            width: 60%
        }
        .QTag-img {
            height: 12vh;
            width: 90%;
        }
        .Qprovince-text {font-size: 1vw;}
    }
}
h1 {
    font-size: 6vh;
    text-align: center;
    padding: 1vh;
}
/*.Qcard-custom:hover {
    border-color: #e9e9e9;
}*/
.Qcard-custom {
    border-width: 1px;
    border-radius: 0px !important;
    border-color: white;
}
.overlay {
    position: absolute;
    left: 0; 
    top: 0; 
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    width: 100%;
    height: auto;
    transition: .5s ease;
    opacity:0;
    color: white;
    text-align: center;
}
.Qprovince-text {  
    background-color: white;
}
.Qprovince-text:hover {
    color: #fcb034;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: #fcb034;

}
.Qcard-body-custom {
    padding: 0.5vw;
    border-width: 0px;
}
.no-border {
    border-width: 0px;
}
