
@media only screen and (min-device-width : 0px) and (max-device-width : 900px) { 
    .package-detail-image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90vw;
        height:35vh;
    }
    .text-padding {
        padding: 1vh 1vh 1vh 1vh;
        height: 13vh;
    }
    .package-detail-header {
        margin-top: 10vh;
    }
}
@media only screen and (min-device-width : 900px) and (max-device-width : 4096px) {   
    @media only screen and (min-width : 0px) and (max-width : 900px) {  
        .package-detail-image {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 90vw;
            height:35vh;
        }
        .text-padding {
            padding: 1vh 1vh 1vh 1vh;
            height: 13vh;
        }
        .package-detail-header {
            margin-top: 10vh;
        }
    }
    @media only screen and (min-width : 900px) and (max-width : 4096px) {  
        .package-detail-image {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: auto;
            height: 45vh;
        }
        .text-padding {
            padding: 1vh 1vh 1vh 1vh;
            height: 10vh;
        }
    }
}
.detail-layout {
    padding-top: 5vh;
}
.text-padding {
    overflow: auto;
}
.test-padding {
    margin-left: 5vh;
    
}
.package-detail-header {
    min-height: 40vh;
    max-height: auto;

}
.package-card-margin {
    margin-bottom: 2vh;
}
.package-card-title-margin {
    margin-top: 0vh;
}
.package-detail-highlight {
    color: red; 
    font:14px; 
    margin-left:10px;
}
.btn-layout {
    position: absolute;
    right: 0%;
    bottom: 0%;
    
}
.page-return {
    text-align: center;
    height: 10vh;
    line-height: 10vh;
}