.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #eee;
}

.package-list-title {
  font-size: 30px;
  text-align: center;
}

.package-list-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.package-list-detail {
  margin-top: 10px;
  
}
