.usr-profile-layout {
    
    height: auto;
    width: 80vw;
    margin-bottom: 5vh;
    
}

.usr-profile-content-mx {
    margin: 0px 10px 10px 10px;
}
.usr-profile-input-mx {
    width: 50vw;
    justify-content: center;
    margin: 10px 10px 10px 10px;
}

.usr-profile-img {
    width: auto;
    height: 35vh;
    padding-top: 10px;
    padding-bottom: 10px;
}