.usr-profile-layout {
    
    height: auto;
    width: 80vw;
    padding-top: 5vh;
    margin-bottom: 5vh;
    
}

.usr-profile-content-layout {

    height: auto;
    background-color: #fff;
    border-style: solid;
    border-width: 0px 1px 1px 1px;
    border-color: #e7e7e7;

}

.usr-profile-content-mx {
    margin: 0px 10px 10px 10px;
}
.usr-profile-input-mx {
    width: 50vw;
    justify-content: center;
    margin: 10px 10px 10px 10px;
}

.usr-profile-img {
    width: 20vw;
    height: 35vh;
    padding-top: 10px;
    padding-bottom: 10px;
}